<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="SmartIM"
            id="cn.ieclipse.smartim">
      </category>
      <view
            allowMultiple="false"
            category="cn.ieclipse.smartim"
            class="cn.ieclipse.smartqq.views.QQContactView"
            icon="icons/QQ.png"
            id="cn.ieclipse.smartqq.views.QQContactView"
            name="SmartQQ">
      </view>
      <view
            category="cn.ieclipse.smartim"
            class="cn.ieclipse.wechat.views.WXContactView"
            icon="icons/wechat.png"
            id="cn.ieclipse.wechat.views.WXContactView"
            name="Wechat"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="cn.ieclipse.smartim.console.IMChatConsolePageParticipant"
            id="cn.ieclipse.smartqq.consolePageParticipant1">
         <enablement>
            <instanceof
                  value="cn.ieclipse.smartim.console.IMChatConsole">
            </instanceof></enablement>
      </consolePageParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePatternMatchListeners">
      <consolePatternMatchListener
            class="cn.ieclipse.smartim.console.SenderMatchDelegate"
            id="cn.ieclipse.smartqq.consolePatternMatchListener1"
            regex="\d{2}:\d{2}:\d{2} [\s\S]+: ">
         <enablement>
            <instanceof
                  value="cn.ieclipse.smartim.console.IMChatConsole">
            </instanceof></enablement>
      </consolePatternMatchListener>
      <consolePatternMatchListener
            class="cn.ieclipse.smartim.console.UrlMatchDelegate"
            id="cn.ieclipse.smartqq.consolePatternMatchListener2"
            regex="(https?|ftp|file)://[-a-zA-Z0-9+&amp;@#/%?=~_|!:,.;]*[-a-zA-Z0-9+&amp;@#/%=~_|]">
         <enablement>
             <instanceof
                  value="cn.ieclipse.smartim.console.IMChatConsole">
            </instanceof>
         </enablement>
      </consolePatternMatchListener>
      <consolePatternMatchListener
            class="cn.ieclipse.smartim.console.ReviewMatchDelegate"
            id="cn.ieclipse.smartqq.consolePatternMatchListener3"
            qualifier="Code: "
            regex="Code: [\S]+:[\d]+ ">
         <enablement>
            <instanceof
                  value="cn.ieclipse.smartim.console.IMChatConsole">
            </instanceof></enablement>
      </consolePatternMatchListener>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="cn.ieclipse.smartim.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="cn.ieclipse.smartim.preferences.SmartQQPreferencePage"
            id="cn.ieclipse.smartim.preferences.SmartQQPreferencePage"
            name="SmartQQ">
      </page>
      <page
            category="cn.ieclipse.smartim.preferences.SmartQQPreferencePage"
            class="cn.ieclipse.smartim.preferences.HotKeyPreferencePage"
            id="cn.ieclipse.smartim.preferences.HotKeyPreferencePage"
            name="Hot keys">
      </page>
      <page
            category="cn.ieclipse.smartim.preferences.SmartQQPreferencePage"
            class="cn.ieclipse.smartim.preferences.RobotPreferencePage"
            id="cn.ieclipse.smartim.preferences.RobotPreferencePage"
            name="Robot">
      </page>
      <page
            category="cn.ieclipse.smartim.preferences.SmartQQPreferencePage"
            class="cn.ieclipse.smartim.preferences.QiniuPerferencePage"
            id="cn.ieclipse.smartim.preferences.QiniuPerferencePage"
            name="File Upload">
      </page>
      <page
            category="cn.ieclipse.smartim.preferences.SmartQQPreferencePage"
            class="cn.ieclipse.smartim.preferences.SettingsPerferencePage"
            id="cn.ieclipse.smartim.preferences.SettingsPerferencePage"
            name="Settgins">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:#AbstractTextEditorContext">
         <command
               commandId="cn.ieclipse.smartqq.command.CodeReview"
               icon="icons/review.png"
               label="Code Review"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="cn.ieclipse.smartqq.command.CodeReview"
            name="Code Review">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="cn.ieclipse.smartim.handlers.ReviewHandler"
            commandId="cn.ieclipse.smartqq.command.CodeReview">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
   </extension>

</plugin>
